.accordion {
	display: flex;
	flex-direction: column;
	border: 1px solid #bedada;
	padding: 1rem;
	border-left: none;
	border-right: none;
	height: auto;
}

.accordion-header {
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	gap: 1.5rem;
}

.accordion-header.active h1,
.accordion-header h1:hover {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	text-align: left;
	color: #023131;
}

.accordion-header h1 {
	font-family: Play;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	transition: all 0.3s;
}

.accordion-header.active img {
	transform: rotate(45deg);
	opacity: 0.5;
}
.accordion-header img {
	opacity: 0.5;
	transition: all 0.3s;
}

.accordion-header:hover img {
	opacity: 1;
}

.accordion-content {
	margin: 0 auto;
	padding-top: 1rem;
	overflow: hidden;
	white-space: wrap;
	width: 80%;
	height: 0;
	padding-left: 5%;
	scale: 0;
	transition: all 0.3s;
}

.accordion-content {
	font-family: "Play", sans-serif;
	font-weight: 400;
	line-height: 27px;
	text-align: left;
}

.accordion-content.active {
	height: auto;
	scale: 1;
}

@media screen and (max-width: 768px) {
	.accordion-content {
		width: 100%;
		padding-left: 0;
		margin: 0;
	}
}
